<div class="wrapper">
    <div class="page-header page-header-small" filter-color="orange">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/pmo.jpg') ;"></div>
        <div class="container">
            <div class="content-center left-39">
                <h3 class="title text-left">Elevate your project success with our dedicated Project Management Office (PMO). We're not just a team; we're your partners in turning ideas into reality.</h3>
                <p class="text-left">Our PMO is your compass, guiding projects from inception to completion with precision, accountability, and a commitment to excellence. Let us empower your organization to deliver projects efficiently, on time, and within budget, ensuring your success in a dynamic world</p>
                <button class="btn btn-danger btn-left"> <span class="btn-text-size"> Let's Talk </span>  <i class='fas fa-arrow-right right-arrow'></i></button>
            </div>
        </div>
    </div>
    <p>Pmo works!</p>
    <app-footer></app-footer>
</div>