<div class="wrapper">
    <div class="page-header page-header-small" style="max-height:65px !important; min-height: 65px !important;" filter-color="orange">
    </div>
    <br/><br/>
    <div style="padding-left: 75px; padding-right: 22px">
        <h3>PRIVACY POLICY</h3>
        <p>Thank you for choosing <strong> RamKPT </strong> software products. This Privacy Policy is designed to help you understand how we collect, use, disclose, and safeguard your personal information when you use our software products.</p>
        <p><strong>1. Information We Collect</strong></p>
        <p>1.1 Personal Information: We may collect personal information that you provide directly to us, such as your name, 
        email address, contact details, and payment information when you purchase our software 
        products or subscribe to our services.
        </p>
        <p>1.2 Usage InformationWe may collect information about how you interact with our software products, including 
        usage patterns, preferences, and error reports. This information helps us improve the
        </p>
        <br/><br/>
    </div>
    <footer class="footer footer-default">
        <div class="container">
            <nav>
                <ul>
                    <li>
                        <a>
                            RamKPT
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/examples/landing']">
                            About Us
                        </a>
                    </li>
                    <li>
                        <a>
                            MIT License
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright">
                &copy;
                {{data | date: 'yyyy'}}, Designed by
                <a>RamKPT</a>. Coded by
                <a>RamKPT</a>.
            </div>
        </div>
    </footer>
</div>
