<div class="wrapper">
  <div class="page-header clear-filter" filter-color="orange">
    <div class="page-header-image rellax-header" data-rellax-speed="-7" style="background-image: url('assets/img/header.jpg');">

    </div>
      <div class="container">
          <div class="content-center brand">
              <img class="n-logo" src="assets/img/now-logo.png" alt="">
              <h1 class="h1-seo">Committed to a better future.</h1>
              <h3>Welcome to RAMKPT Software – Your Gateway to Digital Excellence!</h3>
          </div>
          <!-- <h6 class="category category-absolute">Designed by
              <a href="https://invisionapp.com/" target="_blank">
                  <img src="assets/img/invision-white-slim.png" class="invision-logo" />
              </a>. Coded by
              <a href="https://www.creative-tim.com" target="_blank">
                  <img src="assets/img/creative-tim-white-slim2.png" class="creative-tim-logo" />
              </a>.</h6> -->
      </div>
  </div>

  <div class="main">
    <div class="section section-images">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="hero-images-container">
                        <img src="assets/img/hero-image-1.png" alt="">
                    </div>
                    <div class="hero-images-container-1">
                        <img src="assets/img/hero-image-2.png" alt="">
                    </div>
                    <div class="hero-images-container-2">
                        <img src="assets/img/hero-image-3.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section section-basic">
        <div class="container text-container">
          <h3 class="title">What defines us?</h3>
          <div id="buttons" class="text-container">
            <p>We are digital management consultants, product cartographers, experience designers, and software engineers. 
             We partner with enterprises to assist them in conquering the digital world, and future proofing their business.</p>
          </div>
        </div>
    </div>
    <div class="container-fluid p-0">
        <div class="row">
            <div class="bluebox d-block d-md-none">
                <div class="imagecontent"><img src="/assets/img/digital-tranformation.065c3bba.png"
                        alt="Digital Transformation"></div>
            </div>
            <div class="bluebox">
                <div class="content text-container">
                    <h3>Digital Transformation</h3>
                    <p>Digital First Organizations have experienced tremendous growth in the last decade. We have
                        worked relentlessly to create a proven framework that helps transform business processes
                        from initiation to execution with the help of state of the art digital technologies.</p>
                        <!-- <a
                        class="btn-learn-more stretched-link" href="/services/digital-transformation">Learn More</a> -->
                </div>
            </div>
            <div class="bluebox d-none d-md-block">
                <div class="imagecontent"><img src="/assets/img/digital-tranformation.065c3bba.png"
                        alt="Digital Transformation"></div>
            </div>
            <div class="bluebox">
                <div class="imagecontent"><img src="/assets/img/product-development.2f662871.png"
                        alt="Product Development"></div>
            </div>
            <div class="bluebox">
                <div class="content text-container">
                    <h3>Product Development</h3>
                    <p>Digital products have become a prominent source of information distribution today.
                        Strategically built products enable better customer success, increased adoption and
                        retention, acceleration of revenues, and increased brand equity. Torinit has accumulated a
                        significant body of knowledge in the area of product development, which has enabled many
                        enterprises to build better products.</p>
                        <!-- <a class="btn-learn-more stretched-link"
                        href="/services/product-development">Learn More </a> -->
                </div>
            </div>
            <div class="bluebox">
                <div class="bluebox d-block d-md-none">
                    <div class="imagecontent"><img src="/assets/img/experience-design.8823e697.png"
                            alt="Experience Design"></div>
                </div>
                <div class="content text-container">
                    <h3>Experience Design</h3>
                    <p>Delivering meaningful experiences to your customers, consumers, and employees has a direct
                        correlation with the health of your enterprise; both financially and qualitatively. At
                        Torinit, we have built state of the art design systems for various business applications
                        that have benefited our customers.</p>
                        <!-- <a class="btn-learn-more stretched-link"
                        href="/services/experience-design">Learn More </a> -->
                </div>
            </div>
            <div class="bluebox d-none d-md-block">
                <div class="imagecontent"><img src="/assets/img/experience-design.8823e697.png"
                        alt="Experience Design"></div>
            </div>
            <div class="bluebox">
                <div class="imagecontent"><img src="/assets/img/engineering-pods.cd955560.png"
                        alt="Engineering Pod"></div>
            </div>
            <div class="bluebox">
                <div class="content text-container">
                    <h3>Engineering Pods</h3>
                    <p>Harness the power of global teams to build velocity, agility, efficiency, and round the clock
                        support. Our pods act as a dedicated extended engineering team to your internal development
                        efforts.</p>
                        <!-- <a class="btn-learn-more stretched-link" href="/services/engineering-pods">Learn
                        More </a> -->
                </div>
            </div>
        </div>
    </div>
    <br><br>
    <div class="section section-basic">
        <div class="container text-container">
          <h3 class="title">What we do.</h3>
          <div id="buttons" class="text-container">
            <p>RamKPT exists to assist mid-market enterprises shape their path to digitally enabled success. We’re more than digital consultants - we’re full partners in your journey to solving critical business challenges and achieving desirable success. We pride ourselves in becoming incredibly attached to your projects, taking time to deeply understand your challenges.</p>
          </div>
        </div>
    </div>
    </div>
  <footer class="footer" data-background-color="black">
      <div class="container">
          <nav>
              <ul>
                  <li>
                      <a>
                          RamKPT
                      </a>
                  </li>
                  <li>
                      <a routerLink="landing">
                          About Us
                      </a>
                  </li>
                  <li>
                      <a href="">
                          Blog
                      </a>
                  </li>
                  <li>
                      <a href="">
                          MIT License
                      </a>
                  </li>
                  <li>
                    <a routerLink="terms">
                        Terms & Conditions
                    </a>
                </li>
                <li>
                    <a routerLink="privacy">
                        Privacy Policy
                    </a>
                </li>
              </ul>
          </nav>
          <div class="copyright">
              &copy;
            {{data | date: 'yyyy'}}, Designed by
              <a href="">RamKPT</a>. Coded by
              <a href="">RamKPT</a>.
          </div>
      </div>
  </footer>
</div>
