ngb-progressbar {
    margin-top: 5rem;
}

.text-container {
    text-align: justify;
  }
  
  .text-container p {
    display: inline; 
    text-align: justify; 
    line-height: 30px;
    font-size: 20px;
  }

  .services {
    background: #fff;
}
.p-0 {
    padding: 0!important;
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    width: 100%;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
    margin-right: auto;
    margin-left: auto;
}

.bluebox {
    flex: 0 0 auto;
    width: 50%;
    padding: 0;
    position: relative;
}

.services .bluebox .imagecontent {
    height: 100%;
}

.bluebox .content {
    background:#f96332!important;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 72px 70px 65px;
    justify-content: center;
    min-height: 100%;
    color: #fff;
    transition: background-color 1s ease;
    opacity: 0.75;
}

.services .btn-learn-more {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 18px;
    display: inline-block;
    padding: 21px 39px;
    border-radius: 0;
    transition: .5s;
    line-height: 21px;
    color: #c5d9e7;
    font-family: MavenPro Bold;
    -webkit-animation-delay: .8s;
    animation-delay: .8s;
    max-width: -webkit-max-content;
    max-width: max-content;
    border: 2px solid #c5d9e7;
}

.services .bluebox .imagecontent {
    height: 100%;
}


@media(max-width:767px){
    .bluebox {
        width: 100%;
   }
    .bluebox .content{
        padding: 32px 32px;
        min-height: 250px;
   }
    .companyintro .bluebox .content{
        min-height: 100%;
   }
    .bluebox .imagecontent {
        height: auto;
   }
    .bluebox .content h3{
        font-size: 26px;
        line-height: 32px;
        margin-bottom: 10px;
   }
    .bluebox .content p {
        font-size: 16px;
        line-height: 22px;
   }
    .bluebox .btn-learn-more{
        bottom: 32px;
   }
}
@media(min-width:601px) and (max-width:992px){
    .bluebox .content h3 {
        font-size: 32px;
        font-weight: 400;
        line-height: 36px;
   }
    .bluebox .content {
        padding: 32px 52px;
   }
}
@media(min-width:993px) and (max-width:1279px){
    .bluebox .content h3{
        font-size: 35px;
   }
    .bluebox .content {
        padding: 50px 50px;
   }
}
