<div class="wrapper">
    <div class="page-header page-header-small" filter-color="orange">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/payment-img.jpg') ;">
        </div>
        <div class="container">
            <div class="content-center">
                <h3 class="title text-left">Unlock the power of seamless transactions on your website with our secure and reliable payment gateway integration.</h3>
                <p class="text-left">We offer a hassle-free solution to enhance your customers' shopping experience while ensuring the safety of their financial information. Trust us to handle your online payments, so you can focus on growing your business.</p>
                <button class="btn btn-danger btn-left"> <span class="btn-text-size"> Let's Talk </span>  <i class='fas fa-arrow-right right-arrow'></i></button>
            </div>
        </div>
    </div>
    <!-- <div class="section pd-t-10">
        <div class="container">
            <div id="inputs">
                <h4>Let’s talk about what’s next for your business, and how we can help you get there.</h4>
                <div class="row mr-ml-15">
                    <div class="col-sm-6 col-lg-3">
                        <div class="form-group">
                            <input type="text" value="" placeholder="Name" class="form-control w-150" />
                        </div>
                    </div>
                </div>
                <div class="row mr-ml-15">
                    <div class="col-sm-6 col-lg-3">
                        <div class="form-group">
                            <input type="text" value="" placeholder="Email" class="form-control w-150" />
                        </div>
                    </div>
                </div>
                <div class="row mr-ml-15">
                    <div class="col-sm-6 col-lg-3">
                        <div class="form-group w-150">
                            <textarea type="text" value="" placeholder="Message" class="form-control" ></textarea>
                        </div>
                    </div>
                </div>
                <div class="row mr-ml-15">
                    <div class="col-sm-6 col-lg-3">
                        <div class="form-group">
                            <button class="btn btn-primary" type="button">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

    <p>payment-gateway</p>

    
    <app-footer></app-footer>
</div>
