.contentbluebox{
    min-height: 87%;
    display: flex;
    align-items: center;
    background: #f96332!important;
    color: white;
    font-weight: 500;
    justify-content: space-around;
}
.mr-30{
    margin-top: 30px;
}
.pd-b-30{
    padding-bottom: 30px;
}