<div class="wrapper">
    <div class="page-header page-header-small" filter-color="orange">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/forex-trade.jpg') ;"></div>
        <div class="container">
            <div class="content-center left-39">
                <h3 class="title text-left">Navigate the forex markets with confidence, guided by our team of seasoned Forex trading experts.</h3>
                <p class="text-left">We offer a wealth of knowledge, experience, and strategies to help you make informed trading decisions. Whether you're a novice trader or a seasoned professional, our experts are your trusted partners in unlocking the potential of the global financial markets.</p>
                <button class="btn btn-danger btn-left"> <span class="btn-text-size"> Let's Talk </span>  <i class='fas fa-arrow-right right-arrow'></i></button>
            </div>
        </div>
    </div>
    <p>forex-trading works!</p>
    <app-footer></app-footer>
</div>
