<div class="wrapper">
    <div class="page-header page-header-small" filter-color="orange">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/payroll.webp') ;"></div>
        <div class="container">
            <div class="content-center left-39">
                <h3 class="title text-left">Simplify your business's payroll process with our comprehensive payroll solutions.</h3>
                <p class="text-left">We specialize in handling the complexities of payroll management, ensuring accuracy and compliance while saving you time and resources. Trust us to take care of your employees' compensation, tax filings, and compliance needs, allowing you to focus on what matters most: growing your business.</p>
                <button class="btn btn-danger btn-left"> <span class="btn-text-size"> Let's Talk </span>  <i class='fas fa-arrow-right right-arrow'></i></button>
            </div>
        </div>
    </div>
    <p>payrolling works</p>
    <app-footer></app-footer>
</div>
