.pd-t-10{
    padding-top: 10px;
    text-align: center;
}
.outer {
    display: flex; 
    justify-content: center; 
    align-items: center; 
  }

  .mr-ml-15{
    margin-right: -15px;
    margin-left: -100px;
    justify-content: center;
  }
  .w-150{
    width: 150%;
  }

  
@media (min-width: 1200px) {
}
@media (max-width: 600px) {
  .form-input{
    width: 130px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media(min-width:850px) and (max-width:991px){
}