<div class="wrapper">
    <div class="page-header page-header-small" filter-color="orange">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/bg5.jpg') ;">
        </div>
        <div class="container">
            <div class="content-center">
                <h2 class="title">Contact Us</h2>
                <p class="category">Leading business transformation through High-Impact digital solutions.</p>
                <!-- <p>Email Us: support@ramkpt.com</p>
                <p>Toll Free Number: +91 9022402553</p> -->
                <div style="    background: chocolate;opacity: 0.9; padding-top: 1px; padding-bottom: 1px; border-radius: 10px;">
                    <h3 class="title">Our Address</h3>
                    <p>RAMKPT SOFTWARE TECHNOLOGY PVT. LTD </p>
                    <p><i class="fa fa-map-marker"></i> Sr. No. 16/9/2, Shop No. 3Ground Floor, Sakshi Residency, Ambegaon Budruk, Ambegan, Pune - 411 046.</p>
                    <p><i class="fa fa-phone"></i> +91 9022402553, <i class="fa fa-envelope"></i> ramkptsoftware@aol.com </p>
                </div>
            </div>

        </div>
    </div>
    <div class="section pd-t-10">
        <div class="container">
            <div id="inputs">
                <h4>Let’s talk about what’s next for your business, and how we can help you get there.</h4>
                <div class="form-input">
                    <div class="row mr-ml-15">
                        <div class="col-sm-6 col-lg-3">
                            <div class="form-group">
                                <input type="text" value="" placeholder="Name" class="form-control w-150" />
                            </div>
                        </div>
                    </div>
                    <div class="row mr-ml-15">
                        <div class="col-sm-6 col-lg-3">
                            <div class="form-group">
                                <input type="text" value="" placeholder="Email" class="form-control w-150" />
                            </div>
                        </div>
                    </div>
                    <div class="row mr-ml-15">
                        <div class="col-sm-6 col-lg-3">
                            <div class="form-group w-150">
                                <textarea type="text" value="" placeholder="Message" class="form-control" ></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row mr-ml-15">
                        <div class="col-sm-6 col-lg-3">
                            <div class="form-group">
                                <button class="btn btn-primary" type="button">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer footer-default">
        <div class="container">
            <nav>
                <ul>
                    <li>
                        <a>
                            RamKPT
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/examples/landing']">
                            About Us
                        </a>
                    </li>
                    <!-- <li>
                        <a href="http://blog.creative-tim.com">
                            Blog
                        </a>
                    </li> -->
                    <li>
                        <a>
                            MIT License
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright">
                &copy;
                {{data | date: 'yyyy'}}, Designed by
                <a>RamKPT</a>. Coded by
                <a>RamKPT</a>.
            </div>
        </div>
    </footer>
</div>
