.pd-t-10{
    padding-top: 10px;
    text-align: center;
}
.outer {
    display: flex; 
    justify-content: center; 
    align-items: center; 
  }

  .mr-ml-15{
    margin-right: -15px;
    margin-left: -100px;
    justify-content: center;
  }
  .w-150{
    width: 150%;
  }