<div class="wrapper">
    <div class="page-header page-header-small custom-page-header" filter-color="orange">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/bg5.jpg') ;">
        </div>
        <div class="container">
            <div class="content-center">
                <h2 class="title">Our Products</h2>
            </div>
        </div>
    </div>

    <div class="card-grid">
        <div class="card">
            <div class="card-content">
                <h3>Remote Inspection Rental Property</h3>
                <!-- <p>This is a sample card content. You can add any text or content here.</p> -->
                <a href="#" style="background-color: #f96332!important;">Price $199 to $4999</a>
            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <h3>Remote Inspection Thermal Image</h3>
                <!-- <p>This is a sample card content. You can add any text or content here.</p> -->
                <a href="#" style="background-color: #f96332!important;">Price $299 to $4999</a>
            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <h3>Mobile Application Inspection</h3>
                <!-- <p>This is a sample card content. You can add any text or content here.</p> -->
                <a href="#" style="background-color: #f96332!important;">Price $60 to $4999</a>
            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <h3>Forex Trading Training </h3>
                <!-- <p>This is a sample card content. You can add any text or content here.</p> -->
                <a href="#" style="background-color: #f96332!important;">Price $99 to $4999</a>
            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <h3>Currency Trading Training</h3>
                <!-- <p>This is a sample card content. You can add any text or content here.</p> -->
                <a href="#" style="background-color: #f96332!important;">Price $99 to $4999</a>
            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <h3>PMO Training</h3>
                <!-- <p>This is a sample card content. You can add any text or content here.</p> -->
                <a href="#" style="background-color: #f96332!important;">Price $99 to $4999</a>
            </div>
        </div>
    </div>
        <!-- Add more cards as needed -->
    <app-footer></app-footer>
</div>
