/* .card-body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 0vh;
    margin: 0;
    align-items: flex-start;
}

.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 200px;
    max-width: 100%;
    text-align: center;
    transition: transform 0.3s ease-in-out;
    margin-top: 20px;
}

.card img {
    width: 100%;
    height: auto;
}

.card-content {
    padding: 16px;
}

.card h2 {
    font-size: 24px;
    margin: 0;
}

.card p {
    font-size: 14px;
    color: #666;
}

.card a {
    display: inline-block;
    padding: 8px 16px;
    margin-top: 10px;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease-in-out;
}

.card a:hover {
    background-color: #0056b3;
} */


.custom-page-header{
    max-height: 250px !important;
    min-height: 150px !important;
}
/* Add additional styles as needed */




.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
    max-width: 100%;
    padding: 20px;
}

.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.card img {
    width: 100%;
    height: auto;
}

.card-content {
    padding: 16px;
}

.card h2 {
    font-size: 24px;
    margin: 0;
}

.card p {
    font-size: 14px;
    color: #666;
}

.card a {
    display: inline-block;
    padding: 8px 16px;
    margin-top: 10px;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease-in-out;
}

.card a:hover {
    background-color: #0056b3;
}
